<div class="container">
  <app-top-bar></app-top-bar>
  <div class="main-content">
    <div class="card-header">
      <p-card>
        <div class="img-header">
          <figure>
            <img
              src="https://avatars.githubusercontent.com/u/60220208?v=4"
              alt=""
            />
          </figure>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
            molestias dolor reprehenderit hic doloremque quas earum expedita.
            Modi sit ratione est aliquid, numquam tenetur voluptates voluptatem,
            rem in, velit animi!
          </p>
        </div>

        <p-divider></p-divider>
        <div class="dark-content">
          <p>Some of my Technologies</p>
        </div>
      </p-card>
    </div>

    <p-dialog header="In Build" [(visible)]="display" [draggable]="false">
      <div class="dialog-tech">
        <iframe src="https://joao-dsmeta.netlify.app" frameborder="0"></iframe>
      </div>
    </p-dialog>

    <div class="technology-cards">
      <div *ngFor="let card of cards">
        <app-technology-card
          (display)="showTechDialog()"
          [card]="card"
        ></app-technology-card>
      </div>
    </div>
  </div>
</div>
